<form action="/create" method="POST">
    <h2>Create Page</h2>

    <div class="input-field">
        <input type="text" name="title" placeholder="Todo title">
    </div>
    <button type="submit" class="btn">Create</button>
</form>

